<h1 align='center'>About ce site</h1>

<p> Ceci est un bon gros about des familles </p>

<p>Tu peux te rendre sur ma page personnelle en cliquant <a href="<%= about_me_path%>">ici</a> ! </p>

<p>Tu peux te rendre sur la page de la team courgette <a href="<%= about_group_path%>">ici</a> ! </p>


<!-- Ici, on fait appel à nos paths définis dans Routes.rb
On renvoie à nos deux supers pages About me et About my group.-->
