<h1 align='center'>Bienvenue sur ma page d'accueil</h1>
<p>Bienvenue à toi jeune moussaillon </p>

<p>Pour créer un utilisateur c'est par <a href="<%= new_user_path%>">ici </a></p>
<br>

<p>Pour la première partie de l'exo tu peux aller voir ici mon about pour voir que ça marche <a href="<%=about_path%>"> (clique ici)</a></p>
